h1  {
    font-size: 60px
}
table.t01 {
    border-collapse: separate;
    border-spacing: 40px 20px;
    background-color: skyblue
}
body {
    background-color: powderblue
}
table.t02 {
    border-collapse: separate;
    border-spacing: 30px 15px;
    background-color: skyblue
}
table.t03 {
    border-collapse:separate;
    border-spacing: 60px 10px;
    background-color: skyblue;
}
ul {
    padding-top: 30px
}
h6 {
    align-content: center
}
