h1  {
    font-size: 60px
}
table.t01 {
    border-collapse: separate;
    border-spacing: 20px 20px;
    background-color: skyblue;
    font-size: x-large;
}
body {
    background-color: powderblue
}
table.t02 {
    border-collapse: separate;
    border-spacing: 26px 15px;
    background-color: skyblue;
    font-size: large
}
table.t03 {
    border-collapse:separate;
    border-spacing: 99px 10px;
    background-color: skyblue;
}
ul {
    padding-top: 30px;
}
h6 {
    align-content: center;
}
