@media screen and (max-width: 600px) {
    body {
        margin: 0;
    }
    ul.topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    ul.topnav li a {
        display: flex;
        justify-content: center;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
    }
    ul.topnav li a.active {
        background-color: #4CAF50;
    }
}

@media screen and (min-width: 601px) {
    body {
        margin: 0;
    }
    ul.topnav {
        display: -webkit-flex;
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        
    }
    ul.topnav li {
        align-self: flex-start;
    }
    ul.topnav li a {
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
    }
    ul.topnav li a:hover:not(.active) {
        background-color: #111;
    }
    ul.topnav li a.active {
        background-color: #4CAF50;
    }
    ul.topnav li.right {
        display: -webkit-flex;
        display: flex;
        margin-left: auto;
        justify-content: flex-end;
    }
}
