.bike {
    position: relative;
    width: 390px;
    height: 260px;
    left: 0;
    top: 300px;
    -webkit-transition: 2s; /* for Safari 6 > */
    transition: 2s;
    -webkit-animation-name: bike; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: bike;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bike-bar {
    position: absolute;
    width: 135px;
    height: 10px;
    top: 90px;
    left: 140px;
    background:
        linear-gradient(0deg, #eff1 10%, #eaf 50%, #eff1 1000%);
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
}

.bike-seattube {
    width: 65px;
    height: 8px;
    top: 145px;
    left: 118px;
    -webkit-transform: rotate(75deg);
    transform: rotate(79deg);
}

.bike-chainstay {
    width: 90px;
    height: 7px;
    top: 178px;
    left: 70px;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.bike-seatstay {
    width: 110px;
    height: 7px;
    top: 145px;
    left: 55px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.bike-bottomtube {
    top: 125px;
    left: 136px;
    width: 158px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-42deg);
}

.bike-bar_front {
    top: 115px;
    left: 216px;
    width: 140px;
    -webkit-transform: rotate(70deg);
    transform:rotate(70deg);
}

.bike-bar_handle {
    top: 26px;
    left: 234px;
    width: 60px;
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
}

.bike-handlebars {
    position: absolute;
    width: 28px;
    height: 12px;
    top: 0px;
    left: 230px;
    background:
        linear-gradient(0deg, #000000 0%, #333333 50%, #000000 100%);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.bike-wheel {
    position: absolute;
    width: 140px;
    height: 140px;
    top: 115px;
    left: 240px;
    background:
        radial-gradient(130px 130px, #000000 1%, rgba(100,100,100,0.1) 40%, #000000 40%, #999999 45%, #000000 50%, rgba(255,255,255,0.001) 1%);
    transition: 2s;
}

.bike-seat {
    width: 120px;
    height: 140px;
    top: 30px;
    left: 88px;
    background:
        radial-gradient(60px 10px, #000000 1%, rgba(100,100,100,0.1) 0%, #000000 0%, #999999 0%, #000000 50%, rgba(255,255,255,0.001) 0%);
    transition: 2s;
}

.bike-pedal {
    position: absolute;
    width: 28px;
    height: 12px;
    top: 180px;
    left: 150px;
    background:
        linear-gradient(0deg, #000000 0%, #333333 50%, #000000 100%);
    -webkit-transform: rotate(-15deg);
    transform:rotate(-15deg);
}


.bike-wheel_back {
    top: 115px;
    left: 0px;
}

@-webkit-keyframes bike {
    0%  { left:0px; top:300px;}
    35% { left:300px; top:0px; transform: rotate(-40deg);}
    100%{ left:600px; top:200px; transform: rotate(-360deg);}
    
}

@keyframes bike {
    0%  { left:0px; top:300px;}
    35% { left:300px; top:0px; transform: rotate(-40deg);}
    100%{ left:600px; top:300px; transform: rotate(-360deg);}
    
}

